<h2> USER PAGE</h2>
  <form class="" action=" <%= action_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    LOGIN
    <label for="email"></label>
    <input type="email" id="email"






  </form>
